*{
    font-family: sans-serif;
}
body{
    background-color: #feecfd;
    padding: 20px;
}

.judul {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    position: relative;
    padding-left: 60px; 
  }

  .judul img {
    width: 80px; 
    height: 80px; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }

fieldset {
    background-color: #f4c0f1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.judul {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

option{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
legend {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #292729;
}
label{
    color: #474447;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"], input[type="number"], input[type="file"]{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input[type="radio"]{
    margin-bottom: 17px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #de00d1;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #f980e0;
}

fieldset legend + * {
    margin-top: 10px;
}

p { 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
  }
  